In [106]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split, GridSearchCV, KFold
from sklearn.metrics import accuracy_score, classification_report
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.decomposition import PCA
from sklearn.naive_bayes import MultinomialNB

In [4]:
train_data = pd.read_csv('SalaryData_Train.csv')
test_data = pd.read_csv('SalaryData_Test.csv')

In [6]:
x_train = train_data.iloc[:, 0:-1]
y_train = train_data.iloc[:, -1]

In [8]:
x_test = test_data.iloc[:, 0:-1]
y_test = test_data.iloc[:, -1]

In [10]:
x_train.head()

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba

We have educationno column which is unnecssary coolumn. Hennce, we will drop it.

In [12]:
x_train.drop('educationno', axis = 1, inplace = True)

In [14]:
x_test.drop('educationno', axis = 1, inplace = True)

In [16]:
x_train.head()

,age,workclass,education,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native
0,39,State-gov,Bachelors,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States
1,50,Self-emp-not-inc,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States
2,38,Private,HS-grad,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States
3,53,Private,11th,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States
4,28,Private,Bachelors,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba

In [18]:
x_train.shape

(30161, 12)

As we have 12 feature, let us reduce the nnumber of feature using feature reduction technique. So, initially, we need to convert the categorical
data to numerical data using encoder and then we will perform standardizaion and finally we will find the high variance components.

Let us see all unique values each feature has

In [20]:
for i in x_train.columns:
    print(x_train[i].unique())

[39 50 38 53 28 37 49 52 31 42 30 23 32 34 25 43 40 54 35 59 56 19 20 45
 22 48 21 24 57 44 41 29 47 46 36 79 27 18 33 76 55 61 70 64 71 66 51 58
 26 17 60 90 75 65 77 62 63 67 74 72 69 68 73 81 78 88 80 84 83 85 82 86]
[' State-gov' ' Self-emp-not-inc' ' Private' ' Federal-gov' ' Local-gov'
 ' Self-emp-inc' ' Without-pay']
[' Bachelors' ' HS-grad' ' 11th' ' Masters' ' 9th' ' Some-college'
 ' Assoc-acdm' ' 7th-8th' ' Doctorate' ' Assoc-voc' ' Prof-school'
 ' 5th-6th' ' 10th' ' Preschool' ' 12th' ' 1st-4th']
[' Never-married' ' Married-civ-spouse' ' Divorced'
 ' Married-spouse-absent' ' Separated' ' Married-AF-spouse' ' Widowed']
[' Adm-clerical' ' Exec-managerial' ' Handlers-cleaners' ' Prof-specialty'
 ' Other-service' ' Sales' ' Transport-moving' ' Farming-fishing'
 ' Machine-op-inspct' ' Tech-support' ' Craft-repair' ' Protective-serv'
 ' Armed-Forces' ' Priv-house-serv']
[' Not-in-family' ' Husband' ' Wife' ' Own-child' ' Unmarried'
 ' Other-relative']
[' White' ' Black' ' Asian-Pac-Islander' ' Amer-Indian-Eskimo' ' Other']
[' Male' ' Female']
[ 2174     0 14084  5178  5013  2407 14344 15024  7688  4064  4386  7298
  1409  3674  1055  2050  2176   594 20051  6849  4101  8614  3411  2597
 25236  4650  2463  3103 10605  2964  3325  2580  3471  4865 99999  6514
  1471  2329  2105  2885 10520  2202  2961 27828  6767  2228  1506 13550
  2635  5556  4787  3781  3137  3818   914   401  2829  2977  4934  2062
  2354  3464  5455 15020  1424  3273 22040  4416 10566  4931  7430 34095
  6497  3908   114  2346  2907  1151  9386  2414  2290  3418 15831 41310
  4508  2538  3456  1848  3887  7896  5721  9562  6418  1455  2036  3942
  1831 11678  2936  2993  7443  6360  4687  1797  6723  2009  3432  6097
  1639  2653 18481 25124  7978   991  1173  2387  5060  1086]
[   0 2042 1408 1902 1887 1719 1762 1564 2179 1816 1980 1977 1876 1340
 2206 1741 1485 2339 2415 1380 1721 2051 2377 1669 2352 1672  653 2392
 1504 1590 1651 1628 1848 2001 1740 2002 1579 2258 1602 2547 2205 1726
 2444 1138 2238  625  213 1539  880 1668 1092 1594 2231 1844  810 2824
 2559 2057 1573 1974  974 2174 2149 1735 1258 2603 2282  323 2246 1617
 1648 1825 3770 1755 3683 2129 4356 2267 2080 2457  419  155 3900 2201
 1944 2467 2754 2472 3004 1411]
[40 13 16 45 50 80 30 35 60 20 52 44 15 25 43 38 55 48 58 32 70 22 56 41
 28 36 24 46  2 42 12 65  1 34 75 98 33 54 10  6 64 19 18 72  8  9 47 37
 21 26 14  5  7 99 53 39 62 59 57 78 90 66 11 49 84 17 68  3 27 85 31 51
 77 63 23  4 87 88 73 89 97 94 29 96 67 82 86 91 81 76 92 61 74 95]
[' United-States' ' Cuba' ' Jamaica' ' India' ' Mexico' ' Puerto-Rico'
 ' Honduras' ' England' ' Canada' ' Germany' ' Iran' ' Philippines'
 ' Poland' ' Columbia' ' Cambodia' ' Thailand' ' Ecuador' ' Laos'
 ' Taiwan' ' Haiti' ' Portugal' ' Dominican-Republic' ' El-Salvador'
 ' France' ' Guatemala' ' Italy' ' China' ' South' ' Japan' ' Yugoslavia'
 ' Peru' ' Outlying-US(Guam-USVI-etc)' ' Scotland' ' Trinadad&Tobago'
 ' Greece' ' Nicaragua' ' Vietnam' ' Hong' ' Ireland' ' Hungary']

Now, as we can see every categorical feature is Nominal data. So, we will use Label Encoder to encode each value.

In [22]:
data_columns = x_train.columns[1:x_train.columns.get_loc('capitalgain')]
for i in data_columns:
    label = LabelEncoder()
    x_train[i] = label.fit_transform(x_train[i])
    x_test[i] = label.fit_transform(x_test[i])

In [24]:
x_train.head()

,age,workclass,education,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native
0,39,5,9,4,0,1,4,1,2174,0,40,United-States
1,50,4,9,2,3,0,4,1,0,0,13,United-States
2,38,2,11,0,5,1,4,1,0,0,40,United-States
3,53,2,1,2,5,0,2,1,0,0,40,United-States
4,28,2,9,2,9,5,2,0,0,0,40,Cuba

In [26]:
label = LabelEncoder()
x_train['native'] = label.fit_transform(x_train['native'])

In [28]:
x_train.head()

,age,workclass,education,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native
0,39,5,9,4,0,1,4,1,2174,0,40,37
1,50,4,9,2,3,0,4,1,0,0,13,37
2,38,2,11,0,5,1,4,1,0,0,40,37
3,53,2,1,2,5,0,2,1,0,0,40,37
4,28,2,9,2,9,5,2,0,0,0,40,4

Now, let us perform hyperparameter tuning to get best number of components

In [90]:
# We will use 5 folds for model Validation
kfold = KFold(n_splits=7, random_state = 7, shuffle = True)
space = {
    'n_components': [2, 3, 4, 8, 10, 12]
}
pca = PCA()
gridsearch = GridSearchCV(pca, space, cv = kfold)
gridsearch.fit(x_train, y_train)

GridSearchCV(cv=KFold(n_splits=7, random_state=7, shuffle=True),
             estimator=PCA(),
             param_grid={'n_components': [2, 3, 4, 8, 10, 12]})

In [98]:
print("The best component for PCA is,", gridsearch.best_params_)

The best component for PCA is, {'n_components': 12}

The above value suggest that there is no need of feature reduction, because as we are increasing the number of components, the best parameters is keep on increasing which suggest that the more the components the bettes it will be. So, we won't do any and directly find Naive Bayas

In [144]:
naive_bayas = MultinomialNB()
naive_bayas.fit(x_train, y_train)
traindata_pred = naive_bayas.predict(x_train)

Now, let us find the accuracy of the model

In [146]:
accuracy = accuracy_score(y_train, y_pred)
print("The accuracy of the model on training data is,", accuracy)

The accuracy of the model on training data is, 0.7729186698053778

In [122]:
report = classification_report(y_train, traindata_pred)
print(report)

              precision    recall  f1-score   support

       <=50K       0.79      0.96      0.86     22653
        >50K       0.63      0.21      0.32      7508

    accuracy                           0.77     30161
   macro avg       0.71      0.59      0.59     30161
weighted avg       0.75      0.77      0.73     30161

Now, let us predict the model using testing data

In [135]:
x_test['native'] = label.fit_transform(x_test['native'])

In [137]:
testdata_pred = naive_bayas.predict(x_test)

In [140]:
accuracy = accuracy_score(y_test, testdata_pred)
print("The accuracy on testing data is,", accuracy)

The accuracy on testing data is, 0.7749667994687915

In [150]:
report = classification_report(y_test, testdata_pred)
print(report)

              precision    recall  f1-score   support

       <=50K       0.79      0.96      0.87     11360
        >50K       0.62      0.21      0.32      3700

    accuracy                           0.77     15060
   macro avg       0.71      0.58      0.59     15060
weighted avg       0.75      0.77      0.73     15060